doctype html
html
  script(src='/js/libs/requirejs/require.js')
  script(src='/requireconfig.js')
  script(src='../js/libs/jquery/jquery.js')
  script(src='../js/libs/bootstrap/js/bootstrap.js')
  link(rel='stylesheet', type='text/css', href='/css/bootstrap.css')
  link(rel='stylesheet', type='text/css', href='/css/bootstrap-theme.css')
  link(href='/css/starterTemp.css', rel='stylesheet')
  script(src='http://w2ui.com/web/js/CodeMirror/lib/codemirror.js')
  script(src='http://w2ui.com/web/js/CodeMirror/mode/javascript.js')
  script(src='http://w2ui.com/web/pages/code-mirror.js')
  script(src='http://w2ui.com/web/js/CodeMirror/mode/htmlmixed.js')
  link(rel='stylesheet', href='http://w2ui.com/web/js/CodeMirror/lib/codemirror.css')
  script(src='http://w2ui.com/web/js/CodeMirror/mode/css.js')
  script(src='http://w2ui.com/web/js/CodeMirror/mode/xml.js')
  link(rel='stylesheet', type='text/css', href='http://w2ui.com/src/w2ui-fields-1.0.min.css')
  head
    - var degree = degreeDetails
    - degree = JSON.parse(degree.replace(/&quot;/ig,'"'))[0];
    - var list = ["First", "Second", "Third", "Fourth", "Masters"];
    - var years = degree.Years;
   

    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='./home') Home
            li
              a(href='./advisor') Advisor
            li
              a(href='./lecturer.html') Lecturer
            li.active
              a(href='./school') School
            li
              a(href='./DHY.html') Dept Head of Year
            li
              a(href='./help.html') Help
          ul.nav.navbar-nav.pull-right
            li
              a(href='/logout') Logout
        // /.nav-collapse

  body
    .container
      .row
        ol.breadcrumb#breadcrumb
          li
            a(href='./school') #{School}
          li
            a(href='./this') #{Degree}
    .container#years
      .row
        h3 Degree Years
  - for (var i = 0; i < years; i++)
      .container  
        .row
          .panel.panel-primary
            .panel-heading 
              = list[i] + " Year Course List"
            .panel-body 
              .w2ui-label  List&colon; 
              .w2ui-field.col-md-3
                input.w2field(type='list', style='width: 200px; box-sizing: border-box; padding-right: 14px;', placeholder='', year=i)
                .w2ui-field-helper(style='color: rgb(0, 0, 0); font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; padding: 3px; margin-top: 1px; margin-bottom: 1px; margin-left: -16px;')
                span.legend
                div(style='height: 30px;')
              #accordion.panel-group.col-md-9
                div(id = i)
                  
    
script(type='text/javascript', src='http://w2ui.com/src/w2ui-fields-1.0.min.js')
script
  require.config({
    baseUrl: "../js"
  });

  require(['jquery', 'socket.io', 'datatables'], function($, io, dataTable){

    var objectList = "#{AllCourseListNames}";
    var objects = "#{AllCourseListInfo}";
    objectList = JSON.parse(objectList.replace(/&quot;/ig,'"'));
    var objects = JSON.parse(objects.replace(/&quot;/ig,'"'));;
    listNames = [];

    if(objectList.length>0){
      for(var i = 0;i<objectList.length;i++){
        listNames.push(objectList[i].CourseListId)
      }
    }
    $('input[type=list]').w2field('list', { items: listNames });
    var selections = $('.w2field').change(function(){
      var CLname = this.value;
      var year = $(this).attr('year')
      var div = $('#' + year);
      div.empty();
      var i = 0;
      $.each(objects[CLname], function(key, value){
        i++
        CLnameNWS = CLname.replace(/ /g,'');
        var string = "<div class='panel panel-default'><div class='panel-heading'><h4 class='panel-title'></h4><a data-toggle='collapse' data-parent='#accordion' href='#collapse" + CLnameNWS + key + "'>Group " + i + "</a></div><div id='collapse" + CLnameNWS + key + "' class='panel-collapse collapse'><div class='panel-body'>Homo</div></div></div>"
        div.append(string);
      });
      
    });
  });
