doctype html
html
  script(src='/js/libs/requirejs/require.js')
  script(src='/requireconfig.js')
  script(src='../js/libs/jquery/jquery.js')
  script(src='../js/libs/bootstrap/js/bootstrap.js')
  link(rel='stylesheet', type='text/css', href='/css/bootstrap.css')
  link(rel='stylesheet', type='text/css', href='/css/bootstrap-theme.css')
  link(href='/css/starterTemp.css', rel='stylesheet')

  script(src='../js/libs/CodeMirror/lib/codemirror.js')
  script(src='../js/libs/CodeMirror/mode/javascript.js')
  script(src='../js/libs/CodeMirror/code-mirror.js')
  script(src='../js/libs/CodeMirror/mode/htmlmixed.js')
  link(rel='stylesheet', href='../css/codemirror.css')

  script(src='../js/libs/CodeMirror/mode/css.js')
  script(src='../js/libs/CodeMirror/mode/xml.js')
  link(rel='stylesheet', type='text/css', href='../css/w2ui-fields.min.css')

  script(type='text/javascript', src='../js/libs/w2ui/w2ui-fields.js')
  script

    require.config({
      baseUrl: "../js"
    });

    require(['jquery', 'socket.io', 'datatables'], function($, io, dataTable){
      var degreeCourseListNames = "#{degreeCourseLists}"
      if(degreeCourseListNames!=""){
        degreeCourseListNames = JSON.parse(degreeCourseListNames.replace(/&quot;/ig,'"'));
      }

      var getSubmitValues = function(){
          var degree = "#{degreeDetails}"
          degree = JSON.parse(degree.replace(/&quot;/ig,'"'))[0];
          var years = degree.Years

          var details = {
            "degree": degree.Name,
            "school": degree.School,
          }

          var courseLists = []
          
          for (var i = 0; i<years; i++){
            var val = $('#CCL' + i)[0].value
            var year = i+1;
            courseLists.push({name:val, year:year});
          }
          details.courseLists = courseLists;
          return details;
      }
      $('#saving').submit(function () {
        var names = getSubmitValues();
        $.ajax({
            url: "/AssignCourseListNames",
            async: false,
            type: "POST",
            data: names,
            contentType: "application/x-www-form-urlencoded",
            dataType: "json",
        });
        return true;
      });


      //Create 
      var courseListNames = "#{AllCourseListNames}";
      courseListNames = JSON.parse(courseListNames.replace(/&quot;/ig,'"'));

      var objects = "#{AllCourseListInfo}";
      objects = JSON.parse(objects.replace(/&quot;/ig,'"'));;

      var listNames = [];
      
      //extract just names from object returned by SQL request;
      for(var i = 0;i<courseListNames.length;i++){
        listNames.push(courseListNames[i].CourseListId)
      }

      listNames.push("None");


      var createCourseListPanels = function(field){
        var CLname = field.val(); 
        var usedNames = [];
        var year = field.attr('year');
        var div = $('#' + year); // find the html element to edit

        $.each($('.w2field'), function(key, value){
          var jQVal = $(value)
          if(jQVal.val() != "None" && jQVal.attr('year') != year){
            usedNames.push($(value).val())
          }
        });

        
        


        if (usedNames.indexOf(CLname) == -1 && (CLname != "None")){
          div.empty();
          var i = 0;
          $.each(objects[CLname], function(key, value){
            i++
            CLnameNWS = CLname.replace(/ /g,'');
            var string = "<div class='panel panel-default'><div class='panel-heading'><h4 class='panel-title'></h4><a data-toggle='collapse' data-parent='#accordion' href='#collapse" + CLnameNWS + key + "'>Group " + i + "</a></div><div id='collapse" + CLnameNWS + key + "' class='panel-collapse collapse'><div class='panel-body'><table id='table" + key + CLnameNWS + "' cellpadding='10' cellspacing='10' border='1' class='display'></table></div></div></div>"
            div.append(string);
            $('#table' + key + CLnameNWS).dataTable({
              "aaData": value,
              "aoColumns": [
            {"mData":"CourseId", "sTitle": "Course ID", "sWidth": 60 },
            {"mData": "Name", "sTitle": "Course Name", "sWidth": 100 },
            {"mData": "Credit", "sTitle": "Credits", "sWidth": 60 },
            {"mData": "Level", "sTitle": "Level", "sWidth": 0 },
            ],
              "bPaginate": false,
              "bLengthChange": false,
              "bInfo": false,
              "bFilter": false,
              });
          });
        } 
        else{
          field.val('None');
          div.empty();

        }
       
      }
      $('input[type=list]').w2field('list', { items: listNames }); 
      $('.w2field').focus(function(){
        $(this).data("oldVal",this.value);
      }).change(function(){
        createCourseListPanels($(this));
      }); 

      for (var i = 0; i<$(".w2field").length; i++){
        var field = $($('.w2field')[i]);
        field.val("None");
        field.change();  
      }
      for (var i = 0; i<degreeCourseListNames.length; i++){
        var field = $($('.w2field')[degreeCourseListNames[i].Level-1]);
        field.val(degreeCourseListNames[i].CourseListId);
        field.change(); 
      }
    });
  head
    - var degree = degreeDetails
    - degree = JSON.parse(degree.replace(/&quot;/ig,'"'))[0];
    - var list = ["First", "Second", "Third", "Fourth", "Masters"];
    - var years = degree.Years;
   

    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='./home') Home
            li
              a(href='./advisor') Advisor
            li
              a(href='./lecturer.html') Lecturer
            li.active
              a(href='./school') School
            li
              a(href='./DHY.html') Dept Head of Year
            li
              a(href='./help.html') Help
          ul.nav.navbar-nav.pull-right
            li
              a(href='/logout') Logout
        // /.nav-collapse

  body
    .container
      .row
        ol.breadcrumb#breadcrumb
          li
            a(href='./school') #{School}
          li
            a(href='./this') #{Degree}
    .container#years
      form#saving(role='form', action='./school')
        .row
          .col-md-2
            h3 Degree Years
          .col-md-1
            button#submit.btn.btn-default(type='text') Save
    - for (var i = 0; i < years; i++)
        .container  
          .row
            .panel.panel-primary
              .panel-heading 
                = list[i] + " Year Course List"
              .panel-body 
                .w2ui-label  List&colon; 
                .w2ui-field.col-md-3
                  input.w2field(type='list', style='width: 200px; box-sizing: border-box; padding-right: 14px;', placeholder='Course List', year=i, id="CCL" + i,)
                  .w2ui-field-helper(style='color: rgb(0, 0, 0); font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; padding: 3px; margin-top: 1px; margin-bottom: 1px; margin-left: -16px;')
                  span.legend
                  div(style='height: 30px;')
                #accordion.panel-group.col-md-9
                  div(id = i)
                  
    


